<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center  d-flex justify-content-center align-items-center " >
        <section>
            <h1 class="display-1  d-flex  justify-content-center " >About</h1>
            <p class="d-flex justify-content-center ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo explicabo sunt ipsam, laborum atque eius perferendis non voluptatem, optio quos esse, soluta eum inventore quia aliquid minima corporis .
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium delectus reprehenderit animi recusandae quaerat quo libero quod possimus saepe quas, incidunt ducimus laboriosam nemo repellendus illo dicta, error obcaecati cumque!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur corrupti, laborum facilis amet inventore reprehenderit commodi ea quam expedita iure itaque ut sint vitae quasi, distinctio repudiandae, repellendus tempore repellat!


            </p>
        </section>
    </main>

   
    <%- include('partials/footer') %>
</body>
</html>