<footer class="bg-dark text-center p-4 ">
    <p class="h4" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo amet inventore nobis perferendis temporibus voluptatibus sequi illo architecto consequuntur nostrum nisi sint eligendi pariatur aliquam odit minus, commodi earum nulla.</p>
    
</footer>